    @charset 'utf-8';
    @import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
    @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

    @font-face {
        font-family: 's-core_2';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 's-core_3';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'mil';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .wrap {
        overflow: hidden;
        font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
    }

    .inner {
        max-width: 1720px;
        width: 90vw;
        margin: auto;
    }

    header {
        background-color: rgba(92, 198, 240, 0.9);
    }

    header.scrollDown {
        opacity: 0;
    }

    .hd {
        position: fixed;
        left: 50%;
        height: 80px;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000000;
        color: white;
        opacity: 1;
    }

    .hd .inner {
        position: fixed;
        left: 50%;
        height: 80px;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000000;
        color: white;
        opacity: 1;
    }

    .hd .logo {
        width: 80px;
    }

    .hd .logo img {
        width: 100%;
    }

    .hd .gnb {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .hd .gnb a {
        color: #fff;
        padding: 10px 20px;
        white-space: nowrap;
    }

    .nav-item {
        color: #83818c;
        padding: 20px;
        text-decoration: none;
        transition: 0.3s;
        margin: 0 6px;
        z-index: 1;
        font-family: "DM Sans", sans-serif;
        font-weight: 500;
        position: relative;
    }

    .nav-item:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #00abd3;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: 0.3s;
    }

    .nav-item:not(.is-active):hover:before {
        opacity: 1;
        bottom: 0;
    }

    .nav-indicator {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        transition: 0.4s;
        height: 5px;
        z-index: 1;
        border-radius: 8px 8px 0 0;
    }

    .ham {
        display: none;
    }

    .ham {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 3px;
    }

    .ham .bar {
        display: block;
        width: 0px;
        height: 4px;
        border-radius: 3px;
        background-color: #fff;
        margin-top: 28px;
        margin-left: 9px;
        position: relative;
    }

    .ham .bar:before {
        content: '';
        width: 42px;
        height: 4px;
        border-radius: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: transform 0.3s;
    }

    .ham .bar:after {
        content: '';
        width: 42px;
        height: 4px;
        border-radius: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: transform 0.3s;
    }

    .ham.active span:before {
        transform: rotate(45deg);
        transition: transform 0.3s 0.8s
    }

    .ham.active span:after {
        transform: rotate(-45deg);
        transition: transform 0.3s 0.8s
    }

    .ham:before {
        content: '';
        width: 42px;
        height: 4px;
        background-color: #fff;
        border-radius: 3px;
        position: absolute;
        right: 9px;
        bottom: 17px;
        transition: width 0.3s 0.4s;
    }

    .ham:after {
        content: '';
        width: 42px;
        height: 4px;
        background-color: #fff;
        border-radius: 3px;
        position: absolute;
        left: 9px;
        top: 17px;
        transition: width 0.3s 0.4s;
    }

    .ham.active:before {
        width: 0;
        right: 9px;
        bottom: 17px;
    }

    .ham.active:after {
        width: 0;
        left: 9px;
        top: 17px;
    }

    .search-container {
        position: relative;
        background: #fff;
        height: 30px;
        border-radius: 30px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: 0.8s;
        box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .3),
            -4px -4px 6px 0 rgba(116, 125, 136, .2),
            inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
            inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
    }

    .search-container:hover>.search-input {
        width: 200px;
    }

    .search-container .search-input {
        background: transparent;
        border: none;
        outline: none;
        width: 0px;
        font-weight: 500;
        font-size: 16px;
        transition: 0.8s;

    }

    .search-container .search-btn .fas {
        color: #5cbdbb;
    }


    /* sec1 */

    .sec1 {
        width: 100vw;
        height: 100vh;
        background: url(./img/mountain-baekdu-g3c7b94a76_1920.jpg) no-repeat;
        background-position: 50% 65%;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .sec1 .cen_logo {
        position: absolute;
        top: 48%;
        transform: translateY(-50%);
    }

    .text_con {
        height: 100px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 5rem;
        line-height: 6rem;
        color: #00abd3;
        font-family: Pretendard;
    }

    .text_con::after {
        position: absolute;
        content: "";
        width: 240%;
        height: 47%;
        top: 487%;
        left: -60%;
        border-radius: 5px;
        background-image: linear-gradient(to top, #e3e3e3, #c2c2c6, #dfe1e7, #dee1e6, #bbbfc4);
    }

    .sec1 h3 {
        position: absolute;
        top: -50%;
        transform: translateY(-50%);
        border-right: 2px solid #777;
        font-size: 5rem;
        width: 60%;
        animation: cursor .9s infinite steps(2);
        text-align: center;
        color: #fff;
    }

    .bot_img {
        position: absolute;
        left: 84.5%;
        top: 100%;
        transform: translate(-100%, -90%);
    }

    .bot_water {
        position: absolute;
        left: 32%;
        top: 94%;
        transform: translate(-100%, -90%);
    }

    .bot_water img {
        width: 100%;
    }

    @keyframes cursor {
        from {
            border-right: 2px solid #222;
        }

        to {
            border-right: 2px solid #777;
        }
    }

    @-webkit-keyframes ani-mouse {
        0% {
            opacity: 1;
            top: 29%;
        }

        15% {
            opacity: 1;
            top: 50%;
        }

        50% {
            opacity: 0;
            top: 50%;
        }

        100% {
            opacity: 0;
            top: 29%;
        }
    }

    @-moz-keyframes ani-mouse {
        0% {
            opacity: 1;
            top: 29%;
        }

        15% {
            opacity: 1;
            top: 50%;
        }

        50% {
            opacity: 0;
            top: 50%;
        }

        100% {
            opacity: 0;
            top: 29%;
        }
    }

    @keyframes ani-mouse {
        0% {
            opacity: 1;
            top: 29%;
        }

        15% {
            opacity: 1;
            top: 50%;
        }

        50% {
            opacity: 0;
            top: 50%;
        }

        100% {
            opacity: 0;
            top: 29%;
        }
    }

    .scroll-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -100%);
        text-align: center;
    }

    .scroll-btn>* {
        display: inline-block;
        line-height: 18px;
        font-size: 13px;
        font-weight: normal;
        color: #7f8c8d;
        color: #ffffff;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        letter-spacing: 2px;
    }

    .scroll-btn>*:hover,
    .scroll-btn>*:focus,
    .scroll-btn>*.active {
        color: #ffffff;
    }

    .scroll-btn>*:hover,
    .scroll-btn>*:focus,
    .scroll-btn>*:active,
    .scroll-btn>*.active {
        opacity: 0.8;
        filter: alpha(opacity=80);
    }

    .scroll-btn .mouse {
        position: relative;
        display: block;
        width: 35px;
        height: 55px;
        margin: 0 auto 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 3px solid white;
        border-radius: 23px;
    }

    .scroll-btn .mouse>* {
        position: absolute;
        display: block;
        top: 29%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        background: white;
        border-radius: 50%;
        -webkit-animation: ani-mouse 2.5s linear infinite;
        -moz-animation: ani-mouse 2.5s linear infinite;
        animation: ani-mouse 2s linear infinite;
    }

    /* sec2 */

    .sec2 {
        background-color: #fff;
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1, 60% 40%);
        grid-template-rows: repeat(2, 600px);
        margin-bottom: 200px;
    }

    .sec2 .img_place {
        background: url(./img/박서준.jpg) no-repeat;
        background-position: 70% 50%;
        background-size: cover;
    }

    .sec2 .txt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -20%;
    }

    .sec2 .txt h2 {
        font-size: 2rem;
        position: relative;
        font-weight: 300;
    }

    .sec2 .txt h2::after {
        content: "";
        position: absolute;
        width: 150%;
        height: 1px;
        background-color: #171717;
        top: 50%;
        transform: translateY(-50%);
        left: -160%;
    }

    .sec2 .txt .txtC {
        display: flex;
        position: relative;
        left: 6.5%;
    }

    .sec2 .txt p {
        writing-mode: vertical-rl;
        text-orientation: mixed;
        padding: 10px;
    }

    .sec2 .img_ham {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
    }

    .sec2 .img_ham p {
        position: relative;
        top: -100px;
        right: -180%;
        font-size: 2rem;
    }

    .sec2 .img_ham p::after {
        position: absolute;
        content: "";
        width: 180%;
        height: 1px;
        background-color: #171717;
        top: 50%;
        transform: translateY(-50%);
        right: -200%;
    }

    .sec2 .ham_i {
        position: absolute;
        width: 50%;
    }

    .sec2 .ham_i img {
        width: 100%;
    }

    .sec2 .img_place2 {
        background: url(./img/water.jpg) no-repeat;
        background-position: 50% 70%;
        background-size: cover;
    }

    /* sec3 */

    .sec3 {
        background-color: #fff;
        margin-bottom: 300px;
        height: 100vh;
    }

    .sec3 h3 {
        display: none;
    }

    div.cards {
        display: none;
    }

    .sec3 .sec3_top_img {
        width: 100vw;
        height: 400px;
        background: url(./img/main4.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-attachment: fixed; */
        margin-bottom: 100px;
    }

    .sec3 .sec3_top_img h4 {
        opacity: 0;
        position: relative;
        display: flex;
        z-index: 100;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: rgba(255, 255, 255, .3);
        color: #fff;
        backdrop-filter: blur(5px);
        transition: .3s;
    }

    .hover-1 {
        --c: #1095c1;
        --s: .15em;

        line-height: 1.1em;
        padding-bottom: calc(2.1*var(--s));
        background:
            conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
            conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
        -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0) 0/var(--_p, 0%) padding-box no-repeat;
        transition: .5s;
    }

    .hover-1:hover {
        --_p: 100%;
        color: var(--c);
    }

    .sec3 .sec3_top_img:hover h4 {
        opacity: 1;
        width: 100%;
    }

    .sec3 .sec3_top_img a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .sec3 .sec3_bot li {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    .sec3 .sec3_bot li a {
        display: block;
        width: 60%;
        padding: 50px;
        padding-left: 0;
        position: relative;
        left: 37.1%;
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .sec3 .sec3_bot li a::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, .2);
        left: 0;
        top: 100%;
    }

    .sec3 .sec3_bot .sec3_img {
        width: 400px;
        position: absolute;
        left: 10%;
        opacity: 0;
        transition: .3s;
    }

    .sec3 .sec3_bot .sec3_img img {
        width: 100%;
    }

    .sec3 .sec3_bot li:hover .sec3_img {
        opacity: 1;
    }

    /* sec4 */

    .sec4 {
        margin-left: 100px;
        margin-bottom: 250px;
        height: 80vh;
    }


    .sec4 .side_scroll {
        display: flex;
        width: 100%;
        top: 12% !important;
    }

    .sec4 .scroll_element {
        width: 500px;
        overflow: hidden;
        margin-right: 60px;
    }


    .sec4 img {
        width: 100%;
    }

    /* sec5 */


    /* footer */

    footer {
        position: relative;
        padding: 30px 100px;
        background: url(./img/footer.jpg) no-repeat;
        background-size: cover;
        background-position: 20%;
        color: #fff;
        font-family: s-core_3;
        font-size: 1.1rem;
        line-height: 1.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .foot_top {
        margin-bottom: 20px;
    }




    /*  */
    /*  */
    /*  */
    /*  */






    @media (min-width : 620px) {
        .highlight {
            background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
            background-repeat: no-repeat;
            background-size: 70% 12.5%;
            background-position: 0 60%;
            transition: background-size 0.25s ease-in;
            transition: background-position 0.25s ease-in;
        }

        .highlight:hover {
            background-size: 70% 25%;
            background-position: 0 50%;
        }
    }

    @media (max-width : 1450px) {

        .sec2 .txt {
            left: 0%;
        }

        .sec2 .txt .txtC {
            left: 8%;
        }

        .sec2 .img_ham p {
            left: 150%;
        }

        .sec2 .img_ham p::after {
            width: 120%;
            right: -130%;
        }

        .sec2 .ham_i {
            width: 60%;
        }

        .sec2 .img_place2 {
            background-position: 70% 70%;
        }

        /* sec3 */
        .sec3 {
            background-color: #fff;
            margin-bottom: 0px;
            height: calc(100vh + 400px);
        }

        .sec3 .sec3_bot .sec3_img {
            width: 300px;
            position: absolute;
            left: 10%;
            opacity: 0;
            transition: .3s;
        }

        .sec3 .sec3_top_img {
            margin-bottom: 100px;
        }

        .sec3 .sec3_bot li a {
            font-size: 1.2rem;
        }

        /* sec4 */

        .sec4 .side_scroll {
            display: flex;
            width: 400%;
        }

        .sec4 .side_scroll::-webkit-scrollbar {
            display: none
        }

        .sec4 .scroll_element {
            width: 30vw;
            overflow: hidden;
        }


    }

    @media (max-width : 1000px) {
        .hd {
            position: fixed;
            width: 100%;
            height: 60px;
        }

        .logo {
            position: fixed;
            top: 30px;
            transform: translateY(-25%);
        }

        .hd .logo {
            left: 2.5%;
            width: 70px;
        }

        .search-container {
            display: none;

        }

        .hd .gnb {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            top: 100%;
            left: -500%;
            background-color: #00abd3;
            width: 100vw;
            height: 200vh;
            z-index: 100000;
            transition: .5s;
            padding: 50px 36px 36px;
        }

        .hd .gnb.on {
            left: 50%;
            top: 30vh;
        }

        .gnb a {
            display: block;
            padding: 1rem 0;
            position: relative;
            font-family: s-core_3;
            color: #fff;
        }


        .ham {
            display: block;
            right: -5%;
            position: relative;
            z-index: 1000000000;
            top: 40%;
        }

        .nav-item:before {
            width: 18%;
        }

        /* sec1 */

        .sec1 {
            background-position: 40% 50%;
        }

        .bot_img,
        .bot_water {
            display: none;
        }

        .text_con,
        .text_con h3 {
            font-size: 3rem;
        }

        .text_con {
            top: 7%;
            line-height: 3rem;
        }

        .text_con::after {
            display: none;
        }

        .scroll-btn {
            top: 80%;
        }

        /* sec2 */
        .sec2 {
            grid-template-rows: repeat(1, 400px 400px 400px);
            grid-template-columns: repeat(1, 50% 50%);
            margin-bottom: 200px;
        }

        .sec2 .img_ham {
            grid-column: span 2;
            order: 4;
        }

        .sec2 .img_place2 {
            grid-column: 2/3;
        }

        .sec2 .img_place {
            background-position: 50% 50%;
        }

        .sec2 .txt h2 {
            font-size: 1.75rem;
        }

        .sec2 .txt h2::after {
            width: 100%;
            left: -120%;
        }

        .sec2 .txt p {
            padding: 10px;
            font-size: 1rem;
        }

        .sec2 .txt .txtC {
            left: 6.5%;
        }

        .sec2 .img_ham p {
            position: relative;
            top: -400px;
            left: -80%;
            font-size: 2rem;
        }

        .sec2 .img_ham p::after {
            position: absolute;
            content: "";
            width: 120%;
            height: 1px;
            background-color: #171717;
            top: 50%;
            transform: translateY(-50%);
            right: -140%;
        }

        .sec2 .txt {
            left: 0%;
        }

        .sec2 .img_place2 {
            background-position: 80% 50%;
        }

        .sec2 .ham_i {
            top: 80%;
            transform: translateY(-50%);
            width: 60%;
        }

        /* sec3 */

        /*  */
        .sec3 {
            margin-bottom: 200px;
            height: 1000px;
        }

        .sec3 .sec3_top_img {
            height: 250px;
        }

        .sec3 .sec3_top_img {
            margin-bottom: 75px;
        }

        .sec3 h3 {
            margin-bottom: 75px;
            text-align: center;
            font-size: 2rem;
            font-weight: 300;
        }

        .sec3 .sec3_bot li {
            margin-bottom: 10px;
        }

        .sec3 .sec3_bot li a {
            font-size: 1rem;
            width: 60%;
            padding: 50px;
            padding-left: 0;
            position: relative;
            left: 15%;
        }

        .sec3 .sec3_bot .sec3_img {
            width: 15%;
            position: relative;
            left: 10%;
            opacity: 1;
        }




        /* sec4 */

        .sec4 {
            background-color: #fff;
            margin-left: 5%;
            margin-bottom: 0px;
            height: 600px;
        }

    @media (max-width:620px) {
        .sec3 .sec3_bot {
            display: none;
        }

        a.btn {
            background: #00abd3;
            border-radius: 4px;
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
            color: #ffffff;
            display: inline-block;
            padding: 6px 30px 8px;
            position: relative;
            text-decoration: none;
            transition: all 0.1s 0s ease-out;
        }

        .no-touch a.btn:hover {
            background: #00a2ad;
            box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
            transform: translateY(-2px);
            transition: all 0.25s 0s ease-out;
        }

        .no-touch a.btn:active,
        a.btn:active {
            background: #008a93;
            box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
            transform: translate3d(0, 1px, 0);
            transition: all 0.025s 0s ease-out;
        }

        div.cards {
            display: grid;
            grid-template-rows: repeat(1, 300px 300px 300px);
            grid-template-columns: repeat(1, 50% 50%);
            grid-gap: 10px;
            margin: 80px auto;
            text-align: center;
            padding: 10px;
        }

        div.card {
            background: #ffffff;
            display: inline-block;
            perspective: 1000;
            position: relative;
            text-align: left;
            transition: all 0.3s 0s ease-in;
            /* width: 100%; */
            z-index: 1;
        }

        div.card img {
            width: 100%;
        }

        div.card .card__image-holder {
            background: rgba(0, 0, 0, 0.1);
            height: 0;
            padding-bottom: 80%;
        }

        div.card div.card-title {
            background: #ffffff;
            padding: 15px;
            position: relative;
            z-index: 0;
        }

        div.card div.card-title a.toggle-info {
            border-radius: 32px;
            height: 32px;
            padding: 0;
            position: absolute;
            right: 15px;
            top: 10px;
            width: 32px;
        }

        div.card div.card-title a.toggle-info span {
            background: #ffffff;
            display: block;
            height: 2px;
            position: absolute;
            top: 16px;
            transition: all 0.15s 0s ease-out;
            width: 12px;
        }

        div.card div.card-title a.toggle-info span.left {
            right: 14px;
            transform: rotate(45deg);
        }

        div.card div.card-title a.toggle-info span.right {
            left: 14px;
            transform: rotate(-45deg);
        }

        div.card div.card-title h2 {
            text-align: left;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: -0.05em;
            margin: 0;
            padding: 0;
        }

        div.card div.card-description {
            padding: 10px;
            margin-bottom: 20px;
            position: relative;
            font-size: 14px;
            text-align: center;
        }

        div.card div.card-actions {
            box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
            padding: 10px 15px 20px;
            text-align: center;
        }

        div.card div.card-flap {
            background: #d9d9d9;
            position: absolute;
            top: 90%;
            width: 100%;
            transform-origin: top;
            transform: rotateX(-90deg);
        }

        div.card div.flap1 {
            transition: all 0.3s 0.3s ease-out;
            z-index: -1;
        }

        div.card div.flap2 {
            transition: all 0.3s 0s ease-out;
            z-index: -2;
        }

        div.cards.showing div.card {
            cursor: pointer;
            opacity: 0.6;
            transform: scale(0.88);
        }

        .no-touch div.cards.showing div.card:hover {
            opacity: 0.94;
            transform: scale(0.92);
        }

        div.card.show {
            opacity: 1 !important;
            transform: scale(1) !important;
        }

        div.card.show div.card-title a.toggle-info {
            background: #ff6666 !important;
        }

        div.card.show div.card-title a.toggle-info span {
            top: 15px;
        }

        div.card.show div.card-title a.toggle-info span.left {
            right: 10px;
        }

        div.card.show div.card-title a.toggle-info span.right {
            left: 10px;
        }

        div.card.show div.card-flap {
            background: #ffffff;
            transform: rotateX(0deg);
        }

        div.card.show div.flap1 {
            transition: all 0.3s 0s ease-out;
        }

        div.card.show div.flap2 {
            transition: all 0.3s 0.2s ease-out;
        }

    }

    @media(max-width:600px) {
        div.card div.card-flap {
            top: 85%;
        }

    }

    @media(max-width:550px) {
        div.card div.card-flap {
            top: 77%;
        }

    }

    @media(max-width:500px) {
        div.card div.card-flap {
            top: 71%;
        }

    }

    @media(max-width:400px) {
        div.card div.card-flap {
            top: 60%;
        }

    }